<app-loading *ngIf="loading" class="m-5"></app-loading>
<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-2">
        <img [src]="artist.images | noimage" class="img-thumbnail img-circle" [alt]="artist.name">
    </div>
    <div class="col">
        <h3>{{artist.name}}</h3>
        <p><a [href]="artist.external_urls.spotify" target="_blank">Ir a la página el artista</a></p>
    </div>
    <div class="col-4 text-right">
        <button [routerLink]="['/search']" class="btn btn-danger">Regresar</button>
    </div>
</div>
<div class="row m-5">
    <div class="col">
        <table class="table text-light">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Álbum</th>
                    <th>Canción</th>
                    <th>Vista previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of topTracks">
                 <td><img [src]="item.album.images | noimage" class="img-thumb" alt=""></td>
                 <td>{{item.album.name}}</td>
                 <td>{{item.name}}</td>
                 <iframe [src]="item.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                 <!-- <td><audio [src]="item.preview_url" controls></audio></td>                  -->
                </tr>
            </tbody>
        </table>
    </div>
</div>